Service References/Proxies/CDiscountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CDiscountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfdiscount.apphb.com/DiscountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfdiscount.apphb.com/DiscountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfdiscount.apphb.com/DiscountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDiscount" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDiscountService_getDiscountList_InputMessage">
    <wsdl:part name="parameters" element="tns:getDiscountList" />
  </wsdl:message>
  <wsdl:message name="IDiscountService_getDiscountList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDiscountListResponse" />
  </wsdl:message>
  <wsdl:message name="IDiscountService_getStoreList_InputMessage">
    <wsdl:part name="parameters" element="tns:getStoreList" />
  </wsdl:message>
  <wsdl:message name="IDiscountService_getStoreList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStoreListResponse" />
  </wsdl:message>
  <wsdl:message name="IDiscountService_getHash_InputMessage">
    <wsdl:part name="parameters" element="tns:getHash" />
  </wsdl:message>
  <wsdl:message name="IDiscountService_getHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHashResponse" />
  </wsdl:message>
  <wsdl:portType name="IDiscountService">
    <wsdl:operation name="getDiscountList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiscountService/getDiscountList" message="tns:IDiscountService_getDiscountList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiscountService/getDiscountListResponse" message="tns:IDiscountService_getDiscountList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStoreList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiscountService/getStoreList" message="tns:IDiscountService_getStoreList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiscountService/getStoreListResponse" message="tns:IDiscountService_getStoreList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiscountService/getHash" message="tns:IDiscountService_getHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiscountService/getHashResponse" message="tns:IDiscountService_getHash_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDiscountService" type="tns:IDiscountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDiscountList">
      <soap:operation soapAction="http://tempuri.org/IDiscountService/getDiscountList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoreList">
      <soap:operation soapAction="http://tempuri.org/IDiscountService/getStoreList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHash">
      <soap:operation soapAction="http://tempuri.org/IDiscountService/getHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDiscountService">
    <wsdl:port name="BasicHttpBinding_IDiscountService" binding="tns:BasicHttpBinding_IDiscountService">
      <soap:address location="http://wcfdiscount.apphb.com/DiscountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>