Service References/Proxies/DiscountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDiscount" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDiscount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CProduct" nillable="true" type="tns:CProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCProduct" nillable="true" type="tns:ArrayOfCProduct" />
  <xs:complexType name="CProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="discount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="newPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oldPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CProduct" nillable="true" type="tns:CProduct" />
  <xs:complexType name="ArrayOfCStore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CStore" nillable="true" type="tns:CStore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCStore" nillable="true" type="tns:ArrayOfCStore" />
  <xs:complexType name="CStore">
    <xs:sequence>
      <xs:element minOccurs="0" name="storeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CStore" nillable="true" type="tns:CStore" />
</xs:schema>