Service References/Proxies/DiscountService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfdiscount.apphb.com/DiscountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDiscount" />
  <xs:element name="getDiscountList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDiscountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfDiscount" minOccurs="0" name="getDiscountListResult" nillable="true" type="q1:ArrayOfCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStoreList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStoreListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfDiscount" minOccurs="0" name="getStoreListResult" nillable="true" type="q2:ArrayOfCStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHash">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHashResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>